{% extends 'MyToDoListBundle::base.html.twig' %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block content %}

<p><small>Created: {{ post.createdAt|date('Y/m/d H:i') }}</small></p>

<p><small>Updated: {{ post.updatedAt|date('Y/m/d H:i') }}</small></p>

<p>{{ post.note|nl2br }}</p>

<p><small>Deadline is {{ post.deadline|nl2br }}</p>

<p><a href="{{ path('todo_index') }}">一覧に戻る</a></p>

{% endblock content %}